  {% extends 'tpo/base.html' %}
  {% block content %}
			<br><br>
			<div class="container" style="margin-top: 2%">
				<div>
					<h3>Contact Us</h3>
				</div>
				<div class="row">
					<div class="col s6" style="text-align: left;color: #000080">
						<h5>Contact Person</h5>
					</div>
					<div class="col s6" style="text-align: left;color: #000080">
						<h5>Address</h5>
					</div>
					<div class="col s6" style="text-align: left">
						<p>Prof. A S Kittur</p>
						<p>Training & Placement Officer</p>
					</div>
					<div class="col s6" style="text-align: left">
						<p>Training & Placement Cell,</p>
						<p>Indore Institute of Science and Technology </p>
						<p>Opposite IIM,Rau</p>
					</div>
					<div class="col s6" style="text-align: left;color: #000080">
						<h5>Support Office Staff</h5>
					</div>
					<div class="col s6" style="text-align: left;color: #000080">
						<h5>Contacts</h5>
					</div>
					<div class="col s6" style="text-align: left">
						<p>Sri Gopalakrishnan, Sri K. Chanda & Sri A. K. Verma</p>
					</div>
					<div class="col s6" style="text-align: left">
						<p>Email :<a href="mailto:tpo@itbhu.ac.in"> tpo@indoreinstitute.com</a> | <a href="mailto:ittpo@sify.com">ittpo@sify.com</p> </a>
						Phone : <a href="tel:+915422307007"<p>+91-999999999 </a>| <a href="tel:+915422368160">+91-999999999</p></a>
						<p>Fax : <a href="tel:+9199999999"> +91-9999999</p></a>
					</div>
					<div class="col s6" style="text-align: left;color: #000080">
						<h5>Web Administrator</h5>
					</div>
					<div class="col s12" style="text-align: left">
						<p>For technical support concerning TPO Portal, contact Web Administrator at <a herf="mailto:web.tpo@iist.ac.in">web.tpo@iist.ac.in</a></p>
					</div>
				</div>
			</div>
		</div>
  {% endblock %}