{% extends 'tpo/base.html' %}
{% load static %}
{% block content %}

<div class="container" style="margin-top: 2%">
        <h3>Academic Disciplines</h3>
        <div class="block">		<h5>B.E. (4 year)</h5>
            <p></p>
            <ul>
                <li><a href="" target="_blank">Chemical Engineering</a></li>
                <li><a href="" target="_blank">Civil Engineering</a></li>
                <li><a href="" target="_blank">Computer Engineering</a></li>
                <li><a href="" target="_blank">Electrical Engineering</a></li>
                <li><a href="" target="_blank">Electronics Engineering</a></li>
                <li><a href="" target="_blank">Mechanical Engineering</a></li>
            </ul>
            <p></p>
            <h5>Pharmacy</h5>
            <p>			</p>
            <ul>
                <li><a href="" target="_blank">B. pharma</a></li>
                <li><a href="" target="_blank">M. Pharma</a></li>
                
            </ul>
            <p></p>
        </div>
    
    <div class="block">
        <h5>MCA</h5>
        <p>
        </p><ul>
        <li><a href="" target="_blank">MCA</a></li>
    </ul>
        <p></p>
    </div>
    </div>
{% endblock %}